.productInfo{
    margin: 10px;
    padding: 10px;
}

img.largeImage{
    width: 500px !important;
    height: 500px !important;
    color:  aquamarine !important;
}

div.largeImage {
    box-shadow: none;
    background-color: "fafafa";
}

.productName {
    font-size: 6em !important;
}

.productGrid{
    flex-grow: 1;
}

.dollars::before{
    content: "$";
}

.crossedout{
    text-decoration: line-through;
    color: rgb(255, 0, 157);
}

.addButton {
    background-color: rgb(194, 143, 251) !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.productLabel{
    font-weight: bold !important;
    font-style: italic !important;
}

.sale{
    background-color: white !important;
    color: black !important;
    border: 2px solid #800080 !important;
    text-align: center !important;
    font-weight: bold !important;
}